/* Estilos personalizados */

.container {
  margin-top: 50px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
